<h1><a href="{% url 'main:index' %}">Ru balance</a></h1>

{% if error_message %}
    <p style="color: red;"><strong>{{error_message}}</strong></p>    
{% endif %}
{% if success_message %}
    <p style="color: green;"><strong>{{success_message}}</strong></p>    
{% endif %}

<fieldset>
    <legend><h3>Rats</h3></legend>
    {% if users %}
    <ul>
        {% for user in users %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Aucun rat pour le moment</p>
    {% endif %}
    
    <h4>Ajouter un nouveau rat</h4>
    <form action="{% url 'main:add_user' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nom du nouveau rat">
        <input type="submit" value="Ajouter">
    </form>
</fieldset>

<fieldset>
    <legend><h3>Relations</h3></legend>
    {% if relations %}
        <ul>
            {% for relation in relations %}
            <li>{{ relation.borrower.name }} <a href="{% url 'main:add_block' creditorName=relation.creditor.name borrowerName=relation.borrower.name amount=-1 %}">-1€<a/> doit {{ relation.balance }}€ à <a href="{% url 'main:add_block' relation.creditor.name relation.borrower.name 1 %}">+1€</a> {{ relation.creditor.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune relation pour le moment</p>
    {% endif %}

    {% comment %} <h4>Tous les blocs</h4>

    {% if blocks %}
        <ul>
            {% for block in blocks %}
            <li>Brasseur de moula: {{ block.creditor.name }} | Gros rat: {{ block.borrower.name }} | Montant: {{ block.amount }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune relation pour le moment</p>
    {% endif %} {% endcomment %}

    {% if users %}
        <h4>Ajouter une nouvelle relation entre deux rats</h4>
        <form action="{% url 'main:add_relation' %}" method="post">
            {% csrf_token %}
            <select name="borrower">
                {% for user in users %}
                    <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <->
            <select name="creditor">
                {% for user in users %}
                    <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Relationner">
        </form>
    {% else %}
        <h4>Pour ajouter une nouvelle relation, veuillez ajouter des nouveaux rats</h4>
    {% endif %}
</fieldset>
