<h1>Ru balance</h1>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>    
{% endif %}
{% if success_message %}
    <p><strong>{{success_message}}</strong></p>    
{% endif %}

<h3>Utilisateurs</h3>
{% if users %}
    <ul>
        {% for user in users %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun utilisateur pour le moment</p>
{% endif %}

<form action="{% url 'main:add_user' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Ajouter un utilisateur">
    <input type="submit" value="submit">
</form>

<form action="{% url 'main:add_relation' %}" method="post">
</form>